<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="productFirst" class="com.company.core.Product">
        <constructor-arg name="productId" value="1"/>
        <constructor-arg name="productName" value="Selena"/>
        <constructor-arg name="productPrice" value="2000"/>
    </bean>
    <bean id="productSecond" class="com.company.core.Product">
        <constructor-arg name="productId" value="2"/>
        <constructor-arg name="productName" value="Alisa"/>
        <constructor-arg name="productPrice" value="2500"/>
    </bean>
</beans>